<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nairobi County Government</h1>
    <h2>Bill <%= @bill[:bill_number] %></h2>
    <p>
      Dear <%= @bill[:customer_name] %> your bill has been succesfully created'
    </p>
    <table>
        <thead>
          <th>Bill Number</th>
          <th>Bill Description</th>
          <th>Bill Detail</th>
          <th>Bill Amount</th>
        </thead>
        <tbody>
          <tr>
            <td><%= @bill[:bill_number] %></td>
            <td><%= @bill[:bill_account] %></td>
            <td><%= @bill[:bill_description] %></td>
            <td><%= @bill[:bill_amount] %></td>
          </tr>
        </tbody>
    </table>
  <p>Thanks for working with us</p>
  </body>
</html>
